body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18227c;
  color: white;
  min-height: 100vh;
  padding: 0;
}
html{
  height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #00004f;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.nav-link {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 14px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  background-color: #514aac;
}

.register-form{
  max-width: 450px;
  margin: 200px auto;
  line-height: 1.5rem;

}

.register-form label{
  display: block;


}

.form-input{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 14px;
  background-color: #00004f;
  border: 0;
  color: white;
}

.form-input:focus-visible{
  outline: 1px solid #514aac;
  border-radius: 3px;
}
.form-input:focus{
  box-shadow: inset 0 0 0 3px #514aac;
}

.profile_link{
  float: right;
}

#audio-container{
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;

}

#play-button {
    background: url("play.png") no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    top: 50%;
    position: absolute;

    right: 50%;
}

#previous-button{
    background: url("previous.png") no-repeat;
    background-size: 25px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    top: 50%;
    position: relative;
    left: 50%;
}

#next-button{
    background: url("next.png") no-repeat;
    background-size: 25px;
    height: 30px;
    width: 30px;
    border: 0;
    cursor: pointer;
    top: 50%;
    position: relative;
    left: 50%;

}



#music-slider{
    bottom: -6px;
    width: 100%;
    margin: 0;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    padding: 0;
    height: 4px;
    outline: none;
    margin: 0;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;

}
input[type="range"]::before {
    position: absolute;
    content: "";
    width: var(--seek-before-width);
    height: 4px;
    background-color: #ffffff;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.5);
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

#audio-info{
    bottom: 0;
    width: 100%;
    background-color: #121212;
    height: 91px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;




}

.audio-now-playing{
    width: 30%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
}

.audio-control{
    width: 40%;
    display: inline;
    align-items: center;
    flex-direction: column;


}

.audio-volume{
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;

}

.image-now-playing{
    height: 56px;
    width: 56px;
}

.audio-time{
    float: left;
}

.song-img {
    height: 80px;
    width: 80px;
}







