{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
{% for song in songs %}
{% endfor %}
    <div class="song-list"></div>
    <footer id="audio-container">
        <input type="range" max="100" value="0" id="music-slider">
        <div id="audio-info">
            <div class="audio-now-playing">
                <div>
                    <img class="image-now-playing">
                </div>
                <div id="audio-title-artist">
                    <p id="audio-artist"></p>
                    <p id="audio-title"></p>
                </div>

            </div>
            <div class="audio-control">
                <audio class="audioo" src="" preload="metadata" loop></audio>

                <button class="audio-button" id="previous-button"></button>
                <button class="audio-button" id="play-button"></button>
                <button class="audio-button" id="next-button"></button>
            </div>
            <div class="audio-volume">
                <div class="audio-time"><span id="current-time" class="time">0:00</span>/<span id="duration" class="time">0:00</span></div>
            </div>

        </div>
    </footer>

{% endblock %}
